{% extends 'layout.html.twig' %}

{% block content %}

  <div class="ui message">
    <div class="header">{{ posts | length }} posts loaded</div>
    <div class="ui list">
      {% for account, types in blog.filters.accounts %}
      <div class="item">
        Account
        <a href="/@{{ account }}">
          {{ account }}
        </a>, using activity types
        {% for type in types %}
          <code>[{{ type }}]</code>
        {% endfor %}
      </div>
      {% endfor %}
      {% if blog.filters.tags is defined %}
      <div class="item">
        Only display matching tags:
        {% for tag in blog.filters.tags %}
          [<a href="/tagged/{{ tag }}">{{ tag }}</a>]
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="ui accordion">
  {% for post in posts %}
    <div class="title">
      <div class="ui header">
        <i class="plus circle icon"></i>
        <div class="content">
          {{ post.title }}
          <div class="sub header">
            <strong>{{ post.created | date('Y-m-d') }}</strong>
            |
            <strong>Tags:</strong>
            {% for tag in post.getTags() %}
              <code>[{{ tag }}]</code>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      {% include 'partials/post.html.twig' with { post: post, preview: true } %}
    </div>
  {% endfor %}
  </div>

{% endblock %}
